@import url(./animations.css);

/* Typography */
@font-face {
  font-family: "Century Gothic";
  src: url(./fonts/CenturyGothic.ttf);
}
@font-face {
  font-family: "Bebas";
  src: url(./fonts/Bebas.ttf);
}
@font-face {
  font-family: "Netron";
  src: url(./fonts/Netron.ttf);
}

/* Global */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.screen {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: black;
}

.partition-1 {
  width: 1200px;
  height: 100%;
  position: relative;
  display: inline-block;
}

.partition-1 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.weather-div {
  position: absolute;
  top: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.33);
  text-align: center;

  width: 360px;
  height: 120px;

  display: flex;
  flex-direction: column;
  align-items: left;
  gap: 10px;
}

.weather-div .temp {
  color: #ffbb31;
  font-family: Kiona;
  font-size: 60px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.weather-div .weather {
  color: #fff;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Century Gothic;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 2.4px;
  text-transform: uppercase;
}

.weather-div > img {
  width: 100px;
}

.time-div {
  position: absolute;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.33);
  text-align: center;

  width: 450px;
  height: 80px;

  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.time-div p#time {
  color: #fff;
  text-align: right;
  text-shadow: 0px 7.93px 7.93px rgba(0, 0, 0, 0.25);
  font-family: Netron;
  font-size: 47.337px;
  font-style: normal;
  font-weight: 400;
  line-height: 37.542px; /* 79.307% */
  letter-spacing: 2.367px;
}

.date-div {
  display: flex;
  align-items: flex-end;
  gap: 10px;
  color: #fff;
  text-align: center;
  font-family: Century Gothic;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 1.15px;
  text-transform: uppercase;
}

.partition-2 {
  width: 80px;
  height: 100%;
  background-color: white;
}
.partition-2 img {
  width: 100%;
  height: 100%;
}

.partition-3 {
  width: 240px;
  height: 100%;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}
.partition-3 p {
  color: #fff;
  text-align: center;
  font-family: Century Gothic;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.8px;
  text-transform: uppercase;
}
.partition-3 p:nth-child(3) {
  text-align: center;
  font-family: Century Gothic;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.8px;
  text-transform: uppercase;
}

.partition-3 p:nth-child(4) {
  color: #fff;
  text-align: right;
  text-shadow: 0px 6.337px 6.337px rgba(0, 0, 0, 0.25);
  font-family: Netron;
  font-size: 37.828px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 79.307% */
  letter-spacing: 1.891px;
  animation: myAnim 2s ease 0s 1 normal forwards;
}

.partition-3 img {
  width: 172px;
  height: 153px;
}

.cover-image-entrance {
  -webkit-animation: cover-image-entrance 5s ease-in-out both;
  animation: cover-image-entrance 5s ease-in-out both;
}

.bounce-in-top {
  -webkit-animation: bounce-in-top 2s ease-in-out both;
  animation: bounce-in-top 2s ease-in-out both;
}

.slide-in-right {
  -webkit-animation: slide-in-right 2s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: slide-in-right 2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.slide-in-left {
	-webkit-animation: slide-in-left 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-left 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}